In [43]:
# 1. load data
import pandas as pd
df = pd.read_csv('movie2.csv')
print(df.head())

  Marketing expense  Production expense  Multiplex coverage      Budget  \
0           201.264               59.62               462.0  36.524.125
1           205.462               69.14               531.0  35.668.655
2           205.458               69.14               531.0  39.912.675
3           206.474               59.36               542.0    38873.89
4            21.381               59.36               542.0  39.701.585

   Movie_length  Lead_ Actor_Rating  Lead_Actress_rating  Director_rating  \
0         138.7               7.825                8.095            7.910
1         152.4               7.505                7.650            7.440
2         134.6               7.485                7.570            7.495
3         119.3               6.895                7.035            6.920
4         127.7               6.920                7.070            6.815

   Producer_rating  Critic_rating  Trailer_views 3D_available  Time_taken  \
0            7.995           7.94         527367          YES      109.60
1            7.470           7.44         494055           NO      146.64
2            7.515           7.44         547051           NO      147.88
3            7.020           8.26         516279          YES      185.36
4            7.070           8.26         531448           NO      176.48

   Twitter_hastags     Genre  Avg_age_actors  Num_multiplex  Collection  \
0          223.840  Thriller              23            494       48000
1          243.456     Drama              42            462       43200
2         2022.400    Comedy              38            458       69400
3          225.344     Drama              45            472       66800
4          225.792     Drama              55            395       72400

   Start_Tech_Oscar
0                 1
1                 0
2                 1
3                 1
4                 1

In [45]:
# 2. cek jumlah duplikat
jumlahduplikat = df.duplicated().sum()
print(f"Jumlah baris duplikat: {jumlahduplikat}")

#  menampilkan baris duplikat
barisduplikat = df[df.duplicated()]
print("Baris duplikat: \n", barisduplikat)

Jumlah baris duplikat: 0
Baris duplikat:
 Empty DataFrame
Columns: [Marketing expense, Production expense, Multiplex coverage, Budget, Movie_length, Lead_ Actor_Rating, Lead_Actress_rating, Director_rating, Producer_rating, Critic_rating, Trailer_views, 3D_available, Time_taken, Twitter_hastags, Genre, Avg_age_actors, Num_multiplex, Collection, Start_Tech_Oscar]
Index: []

In [42]:
#3. menemukan null values 
missing_values = df.isnull().sum()
print("jumlah null values:")
print(missing_values)

jumlah null values:
Marketing expense      0
Production expense     0
Multiplex coverage     0
Budget                 0
Movie_length           0
Lead_ Actor_Rating     0
Lead_Actress_rating    0
Director_rating        0
Producer_rating        0
Critic_rating          0
Trailer_views          0
3D_available           0
Time_taken             0
Twitter_hastags        0
Genre                  0
Avg_age_actors         0
Num_multiplex          0
Collection             0
Start_Tech_Oscar       0
dtype: int64

In [39]:
# 3. persentase null values 
missing_percentage = (df.isnull().sum() / len(df)) * 100
print("\npersentase null values:")
print(missing_percentage)

persentase null values:
Marketing expense      0.0
Production expense     0.0
Multiplex coverage     0.0
Budget                 0.0
Movie_length           0.0
Lead_ Actor_Rating     0.0
Lead_Actress_rating    0.0
Director_rating        0.0
Producer_rating        0.0
Critic_rating          0.0
Trailer_views          0.0
3D_available           0.0
Time_taken             0.0
Twitter_hastags        0.0
Genre                  0.0
Avg_age_actors         0.0
Num_multiplex          0.0
Collection             0.0
Start_Tech_Oscar       0.0
dtype: float64

In [53]:
print(df.dtypes)

Marketing expense       object
Production expense     float64
Multiplex coverage     float64
Budget                  object
Movie_length           float64
Lead_ Actor_Rating     float64
Lead_Actress_rating    float64
Director_rating        float64
Producer_rating        float64
Critic_rating          float64
Trailer_views            int64
3D_available            object
Time_taken             float64
Twitter_hastags        float64
Genre                   object
Avg_age_actors           int64
Num_multiplex            int64
Collection               int64
Start_Tech_Oscar         int64
dtype: object

In [51]:
# 4. drop null values kolom
datadropkolom = df.dropna(axis=1)
print("\nsetelah menghapus kolom dengan null values:")
print(datadropkolom.info())
print("\n shape setelah drop baris dengan null values:", datadropkolom.shape)

setelah menghapus kolom dengan null values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    object
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    object
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(10), int64(5), object(4)
memory usage: 75.2+ KB
None

 shape setelah drop baris dengan null values: (506, 19)

In [52]:
# 4. drop missing value baris
datadropbaris = df.dropna()
print("\nsetelah menghapus baris dengan null values:")
print(datadropbaris.info())
print("shape setelah drop kolom dengan null values:", datadropbaris.shape)

setelah menghapus baris dengan null values:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Marketing expense    506 non-null    object
 1   Production expense   506 non-null    float64
 2   Multiplex coverage   506 non-null    float64
 3   Budget               506 non-null    object
 4   Movie_length         506 non-null    float64
 5   Lead_ Actor_Rating   506 non-null    float64
 6   Lead_Actress_rating  506 non-null    float64
 7   Director_rating      506 non-null    float64
 8   Producer_rating      506 non-null    float64
 9   Critic_rating        506 non-null    float64
 10  Trailer_views        506 non-null    int64
 11  3D_available         506 non-null    object
 12  Time_taken           506 non-null    float64
 13  Twitter_hastags      506 non-null    float64
 14  Genre                506 non-null    object
 15  Avg_age_actors       506 non-null    int64
 16  Num_multiplex        506 non-null    int64
 17  Collection           506 non-null    int64
 18  Start_Tech_Oscar     506 non-null    int64
dtypes: float64(10), int64(5), object(4)
memory usage: 75.2+ KB
None
shape setelah drop kolom dengan null values: (506, 19)

In [24]:
# 4. Imputasi null values dengan mean, median, modus
df_imputasi_mean = df.fillna(df.mean(numeric_only=True))  
df_imputasi_median = df.fillna(df.median(numeric_only=True)) 
df_imputasi_modus = df.fillna(df.mode().iloc[0])  

print("setelah imputasi nilai hilang dengan mean:", df_imputasi_mean.shape)
print("setelah imputasi nilai hilang dengan median:", df_imputasi_median.shape)
print("setelah imputasi nilai hilang dengan modus:", df_imputasi_modus.shape)

Shape setelah imputasi nilai hilang dengan mean: (506, 19)
Shape setelah imputasi nilai hilang dengan median: (506, 19)
Shape setelah imputasi nilai hilang dengan modus: (506, 19)

In [33]:
# 5. csv to excel
df.to_excel('Movie2.xlsx', index=False)

print('data telah diekspor ke excel.')

Data telah diekspor ke format Excel.